brainflow==4.9.2
cycler==0.11.0
fonttools==4.33.3
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.1
nptyping==1.4.4
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
pygame==2.1.2
pylsl==1.15.0
pyparsing==3.0.8
python-dateutil==2.8.2
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
threadpoolctl==3.1.0
typish==1.9.3
